{% extends 'accounts/main.html' %}

{% block content %}

<div class="container">
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Login</h4>
            <form method="POST" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-primary btn-block" value="Login">
                <hr>
                <p class="text-center">Don't have an account? <a href="{% url 'register' %}">Register</a> </p>                                                                 
            </form>
        </article>
    </div> <!-- card.// -->
</div> 
<!--container end.//-->

{% endblock content %}