{% extends 'accounts/main.html' %}

{% block content %}

<div class="container">

    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Create Account</h4>
            <p class="text-center">Get started with your free account</p>            
            <form method="POST" action="">
                {% csrf_token %}
                {% if messages %}
                    {% for msg in messages %}
                        <div class="alret alert-danger">{{ msg }}</div>
                    {% endfor %}
                
                {% endif %}
                
                {{ form.errors }}

                {{ form.first_name.label }}
                {{ form.first_name }}

                {{ form.last_name.label }}
                {{ form.last_name }}

                {{ form.username.label }}
                {{ form.username }}

                {{ form.email.label }}
                {{ form.email }}
                
                {{ form.password1.label }}
                {{ form.password1 }}
                
                {{ form.password2.label }}
                {{ form.password2 }}
                <br>
                <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
                <hr>
                <p class="text-center">Have an account? <a href="{% url 'login' %}">Log In</a> </p>                                                                 
            </form>
        </article>
    </div> <!-- card.// -->

</div> 
<!--container end.//-->

{% endblock content %}